[submodule "LeagueHelper"]
	path = LeagueHelper
	url = https://github.com/ughstudios/LeagueHelper
[submodule "EnvironmentVariables"]
	path = EnvironmentVariables
	url = https://github.com/ughstudios/EnvironmentVariables.git
[submodule "DLLInjector"]
	path = DLLInjector
	url = https://github.com/ughstudios/DLLInjector.git
[submodule "qtutils"]
	path = qtutils
	url = https://github.com/ughstudios/qtutils.git
[submodule "myci"]
	path = myci
	url = https://github.com/ughstudios/myci.git
[submodule "leetcode-practice"]
	path = leetcode-practice
	url = https://github.com/ughstudios/leetcode-practice.git
