[submodule "LeagueHelper"]
	path = LeagueHelper
	url = https://github.com/ughstudios/LeagueHelper
[submodule "EnvironmentVariables"]
	path = EnvironmentVariables
	url = https://github.com/ughstudios/EnvironmentVariables.git
