[submodule "LeagueHelper"]
	path = LeagueHelper
	url = https://github.com/ughstudios/LeagueHelper
[submodule "EnvironmentVariables"]
	path = EnvironmentVariables
	url = https://github.com/ughstudios/EnvironmentVariables.git
[submodule "DLLInjector"]
	path = DLLInjector
	url = https://github.com/ughstudios/DLLInjector.git
[submodule "qtutils"]
	path = qtutils
	url = https://github.com/ughstudios/qtutils.git
[submodule "leetcode-practice"]
	path = leetcode-practice
	url = https://github.com/ughstudios/leetcode-practice.git
[submodule "ci_runner"]
	path = ci_runner
	url = https://github.com/ughstudios/ci_runner
[submodule "byteburst_core"]
	path = byteburst_core
	url = https://github.com/ughstudios/byteburst_core.git
[submodule "byteburst_tools"]
	path = byteburst_tools
	url = https://github.com/ughstudios/byteburst_tools.git
